* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100vh;
}

.vertical-line {
    border: none;
    height: 1000px;
    width: 35px;
    background-color: lightgray;
    margin: 0 5px;
    margin-right: 30px;
}

.header {
    text-align: start;
    margin-top: 10%;
}

.header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 5rem;
    color: red;
}

.header h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 2em;
    color: black;
}

.navbar {
    padding: 50px 0;
    padding-right: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-item {
    display: inline-block;
    color: lightslategrey;
    font-size: 1.5em;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: lightgrey;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.nav-item-footer {
    color: red;
    font-size: 1.5em;
    font-weight: lighter;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 20px;
    gap: 20px;
}

.article h2 {
    font-weight: lighter;
    color: black;
    font-size: xx-large;
}

.article p {
    font-weight: lighter;
    color: black;
}

.article h3 {
    font-weight: lighter;
    color: grey;
    font-size: xx-large;
}

.article img {
    width: 100%;
    height: auto;
}

.article p {
    color: rgb(92, 92, 92);
}

.continue {
    width: 100%;
    display: flex;
    justify-content: end;

}

.continue button {
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: lighter;
    cursor: pointer;
    font-weight: bold;
}

hr {
    border: none;
    height: 2px;
    background-color: lightgrey;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-article {
    font-weight: lighter;
    font-size: large;
    line-height: 1.5;
}

.text-article:first-letter {
    float: left;
    font-weight: bold;
    font-size: 60px;
    font-size: 6rem;
    line-height: 40px;
    line-height: 4rem;
    height: 4rem;
    text-transform: uppercase;
    padding-right: 8px;
}

.footer {
    color: grey;
    padding-bottom: 30px;

}