<!DOCTYPE html>
<html lang="en">

<head>
    <title>Job Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Job Applications</h1>

    <ul>
        <% applications.forEach(app=> { %>
            <li>
                <%= app.company.name%> - <%= app.position%> (<%= app.status%>)
            </li>
            <% }) %>
    </ul>
    <form action="/applications" method="POST">
        <input type="text" name="company" placeholder="Company" required>
        <input type="text" name="position" placeholder="Job Title" required>
        <select name="status" placeholder="Status">
            <option value="pending">Pending</option>
            <option value="accepted">Accepted</option>
            <option value="rejected">Rejected</option>
        </select>
        <button type="submit">Add Application</button>
    </form>
</body>

</html>